/* stylelint-disable declaration-no-important */
:root {
	--max-bezier-to-full: cubic-bezier(0.5, 0, 1, 0.5);
	--max-bezier-to-collapse: cubic-bezier(0, 0.5, 0.5, 1);
}

@keyframes float-in {
	0% {
		opacity: 0;
		transform: translateY(var(--float-distance, 10%));
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.float-in-enter-active,
.float-in-leave-active {
	transition: all 0.2s !important;
}

.float-in-leave-active {
	position: absolute !important;
}

.float-in-enter-from,
.float-in-leave-to {
	opacity: 0;
	transform: translateY(var(--float-distance, 10%));
}

.float-in-move {
	transition: transform 0.2s !important;
}

.collapse-enter-active,
.collapse-leave-active {
	contain: paint;
	transition: max-height 0.1s;
}

.collapse-enter-from,
.collapse-leave-to {
	max-height: 0;
	transition-timing-function: var(--max-bezier-to-collapse);
}

.collapse-enter-to,
.collapse-leave-from {
	max-height: 50vh;
	transition-timing-function: var(--max-bezier-to-full);
}
