@keyframes float-in {
	0% {
		opacity: 0;
		transform: translateY(var(--float-distance, 10%));
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.float-in-enter-active,
.float-in-leave-active {
	transition: all 0.2s;
}

.float-in-leave-active {
	/* stylelint-disable-next-line declaration-no-important */
	position: absolute !important;
}

.float-in-enter-from,
.float-in-leave-to {
	opacity: 0;
	transform: translateY(var(--float-distance, 10%));
}

.collapse-enter-active,
.collapse-leave-active {
	overflow: hidden;
	overflow: clip;
	transition: max-height 0.1s;
}

.collapse-enter-from,
.collapse-leave-to {
	max-height: 0;
	transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
}

.collapse-enter-to,
.collapse-leave-from {
	max-height: 50vh;
	transition-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
}
