:root {
	--font-basic: "InterVariable", "Noto Sans SC-Local", ui-sans-serif, "sans-serif", "Noto Sans SC", system-ui, sans-serif;
	--font-serif: "Noto Serif SC-Local", "Noto Serif SC", serif;
	--font-creative: "InterVariable", "Noto Sans SC-Local", "Noto Sans SC", system-ui, sans-serif;
	--font-stroke-free: "Inter", "Microsoft YaHei", "MiSans", system-ui, sans-serif;
	--font-monospace: ui-monospace, "JetBrains Mono", "Cascadia Code", "Consolas", "monospace", var(--font-basic), monospace;

	@media (max-resolution: 1.2dppx) {
		--font-basic: "InterVariable", system-ui, sans-serif;
	}
}

/* autoprefixer: ignore next */
// 仅在 Chrome 130+ 启用本地可变字体
@supports (box-decoration-break: clone) {
	@font-face {
		font-family: "Noto Sans SC-Local";
		font-weight: 100 900; // 不指定则为 400
		src: local("Noto Sans SC");
	}

	@font-face {
		font-family: "Noto Serif SC-Local";
		font-weight: 100 900;
		src: local("Noto Serif SC");
	}
}
