* {
    margin: 0;
    padding: 0;
    border: none;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: var(--c-primary-3);
}

:root {
    --font-family: "HarmonyOS_Medium", system-ui, sans-serif;
    --font-serif: "Noto Serif SC", serif;
    --font-monospace: sfmono-regular, "Fira Code", "JetBrains Mono", "Cascadia Code", monaco, "Noto Sans Mono", consolas, "monospace", monospace;

    background-color: var(--c-bg-1);
    font-family: var(--font-family);
    font-synthesis: style;
    color: var(--c-text-1);
    scroll-behavior: smooth;
    scrollbar-color: var(--c-text-3) var(--c-bg-1);
}

code, pre {
    /* stylelint-disable-next-line font-family-name-quotes */
    font-family: var(--font-monospace);
}

menu, ol, ul {
    list-style: none;
}

::selection {
    background-color: var(--c-primary-2);
}

button {
    background: none;
    font: inherit;
}

input {
    font: inherit;
    color: inherit;
}

mark {
    background: linear-gradient(var(--c-primary-2), var(--c-primary-2)) no-repeat left bottom / 100% 0.3em;
    text-decoration: none;
    color: var(--c-primary-1);
    transition: 0.2s;
    animation: line-spread 0.5s;

    @keyframes line-spread {
        from { background-size: 0 0.3em; }
    }

    &:hover {
        background-size: 100% 50%;
    }
}

@font-face {
    font-family: AlimamaFangYuanTi;
    src: url("/fonts/AlimamaFangYuanTi.woff2");
}

.iconify {
    flex-shrink: 0;
    font-size: 1.2em;
    vertical-align: middle;
}

.gradient-card {
    position: relative;
    border-radius: 0.5rem;
    background: no-repeat 100% / 400%;
    background-image: linear-gradient(60deg, var(--c-accent-1), var(--c-primary-2), transparent 70%);
    transition: all 0.2s;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 2px;
        border-radius: calc(0.5rem - 2px);
        transition: all 0.5s;
        z-index: -1;
    }

    &:hover, &.active {
        background-position: 0;

        &::before {
            background-color: var(--c-bg-a75);
            transition: all 0.1s;
        }
    }
}

// PURE CSS MAGIC!
.scrollcheck-x {
    --left-offset: 0;
    --guessed-scrollbar-width: 0.5rem;

    overflow-x: auto;
    animation: scrollcheck-x;
    animation-timeline: scroll(x self);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        height: var(--guessed-scrollbar-width);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: var(--guessed-scrollbar-width);
        background-color: var(--c-text-3);
    }
}

@keyframes scrollcheck-x {
    0% {
        mask:
            linear-gradient(to right, #fff 80%, transparent),
            linear-gradient(to top, #fff var(--guessed-scrollbar-width), transparent var(--guessed-scrollbar-width));
    }

    1%, 99% {
        mask:
            linear-gradient(to right, #fff var(--left-offset), transparent var(--left-offset), #fff 20%, #fff 80%, transparent),
            linear-gradient(to top, #fff var(--guessed-scrollbar-width), transparent var(--guessed-scrollbar-width));
    }

    100% {
        mask:
            linear-gradient(to right, #fff var(--left-offset), transparent var(--left-offset), #fff 20%),
            linear-gradient(to top, #fff var(--guessed-scrollbar-width), transparent var(--guessed-scrollbar-width));
    }
}
